# Environment Variables
.env

# Virtual Environment
*/.venv/*

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Inclusions
!lib/**

# Compiled Files
*.class
bin/
build/
/bin1/
java/build/**